/********************************************
**General*/

html, body, #app, .div-cont{
    height: 100%;
    width: 100%;
}
.btn{
    color: #FFFFFF !important;
}
.btn, .btn:focus, .btn:active, .btn:visited, button, button:focus, button:visited, button:active{
    outline: none !important;
    border: 0 !important;
}
.logo-login{
    background: url("../app/assets/images/logos/logo.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 47.5px;
    width: 210.9px;
    margin: 20px auto 30px auto;
}
div.divider{
    width: 100%;
    height: 1.5px;
    background-color: #b3b5bd;
    margin: 15px 0px 15px 0px;
}
.shadow{
    -webkit-box-shadow: 0px 2px 5px -1px rgba(46,46,46,1);
    -moz-box-shadow: 0px 2px 5px -1px rgba(46,46,46,1);
    box-shadow: 0px 2px 5px -1px rgba(46,46,46,1);
}
a, a:focus, a:link, a:visited{
    color: #3f454f;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: #ba7a26;
}
#login > .row, #images > .row, #unblock > .row, #unblockpwd > .row{
    margin-top: 20px;
}

@font-face {
    font-family: 'icomoon';
    src:    url('./assets/fonts/icomoon.eot?jem68z');
    src:    url('./assets/fonts/icomoon.eot?jem68z#iefix') format('embedded-opentype'),
        url('./assets/fonts/icomoon.ttf?jem68z') format('truetype'),
        url('./assets/fonts/icomoon.woff?jem68z') format('woff'),
        url('./assets/fonts/icomoon.svg?jem68z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-envelop:before {
    content: "\e945";
}
.icon-mobile2:before {
    content: "\e959";
}
.icon-bubbles3:before {
    content: "\e96f";
}
.icon-binoculars:before {
    content: "\e985";
}
.icon-search:before {
    content: "\e986";
}
.icon-wrench:before {
    content: "\e991";
}
.icon-cog:before {
    content: "\e994";
}
.icon-question:before {
    content: "\ea09";
}

/********************************************
**layout-login*/

#container-login{
    padding-top: 25px;
    padding-bottom: 50px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -35px;
}
@media (max-width: 37em) {
    #container-login{
        margin: 0 auto -75px;
        padding-bottom: 100px;
    }
}

/********************************************
**layout-home*/

#container-home{
    padding-top: 25px;
    padding-bottom: 75px;
    min-height: -moz-calc(100% - 74px);
    min-height: -webkit-calc(100% - 74px);
    min-height: -o-calc(100% - 74px);
    min-height: calc(100% - 74px);
    height: auto !important;
    height: 100%;
    margin: 0 auto -35px;
}
@media (max-width: 37em) {
    #container-home{
        margin: 0 auto -75px;
    }
}
@media (max-width: 33.9em) {
    #container-home{
        padding-bottom: 100px;
        min-height: -moz-calc(100% - 54px);
        min-height: -webkit-calc(100% - 54px);
        min-height: -o-calc(100% - 54px);
        min-height: calc(100% - 54px);
    }
}

/********************************************
**login*/

div.dark-line {
    position: fixed;
    background-color: #00b1d2;
    width: 100%;
    height: 200px;
    z-index: -1;
}
.line-head{
    width: 100%;
    height: 10px;
    background-color: #008fb5;
}
.container-logs {
    width: 225px;
    height: 39px;
    margin: 0 auto;
}
div.apple, div.google{
    cursor: pointer;
    background-size: cover;
    width: 110px;
    height: 38px;
    display: inline-block;
    background-size: cover;
}
.apple {
    background: url("../app/assets/images/logos/logo-apple-store.svg");
}
.google{
    background: url("../app/assets/images/logos/logo-google-play.svg");
}

/********************************************
**image*/

#images p small span{
    color: #e64500;
}
#images .container-fluid div div div:hover{
    border: 2px solid #e64500;
}
#images .space{
    margin-bottom: 10px;
}
.img1_opt, .img2_opt, .img3_opt, .img4_opt, .img5_opt, .img6_opt, .img7_opt, .img8_opt, .img9_opt, .img10_opt{
    background: url("../app/assets/images/sprites.png") no-repeat;
    margin: 5px 5px 0px 5px;
    border-radius: 4px;
    display: inline-block;
    width: 60px;
    height: 60px;
}
.img1_opt{ background-position: 0 0; }
.img2_opt{ background-position: -61px 0; }
.img3_opt{ background-position: -122px 0; }
.img4_opt{ background-position: -183px 0; }
.img5_opt{ background-position: -244px 0; }
.img6_opt{ background-position: -306px 0; }
.img7_opt{ background-position: -367px 0; }
.img8_opt{ background-position: -428px 0; }
.img9_opt{ background-position: -490px 0; }
.img10_opt{ background-position: -551px 0; }

/********************************************
**unlock*/

#unblock .space{
    margin-bottom: 10px;
}

/********************************************
**changepass*/

#unblockpwd p small span{
    color: #e64500;
}
#unblockpwd .container-fluid div div div:hover{
    border: 2px solid #e64500;
}
#unblockpwd .space{
    margin-bottom: 10px;
}

/********************************************
**footer*/

#footerLog {
    background-color: #ccd3ee;
    width: 100%;
    height: 35px;
}
#footerLog p, #footerLog a, #footerLog select {
    padding: 0;
    margin: 0;
    font-size: 8pt;
    margin-top: 10px;
}
#footerLog select {
    display: inline-block;
    width: 80px;
    height: 20px;
    margin-top: -2px;
    margin-left: 4px;
}
@media (max-width: 47.9em) {
    #footerLog select{
        width: 60px;
    }
}
@media (max-width: 37em) {
    #footerLog{
        height: 75px;
    }
    #footerLog select{
        width: 90px;
        margin-top: 6px;
    }
}
@media (max-width: 33.9em) {
    #footerLog p:first-child{
        padding-top: 6px;
    }
    #footerLog p:last-child{
        margin-top: 0px;
    }
    #footerLog select{
        width: 80px;
    }
}

/********************************************
**navbar*/

#navbar div.top {
    background-color: #000000;
    height: 20px;
    width: 100%;
}
#navbar div.top p {
    padding-top: 2px;
    font-size: .75em;
    color: #b8b8b8;
}
#navbar .navbar {
    background-color: #00b1d2;
}
#navbar .logo-abanking {
    background: url("../app/assets/images/logos/logo_abanking.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 30px;
    width: 30px;
    margin: 5px 15px 0px 0px;
}
#navbar li.pull-md-right, #navbar li.pull-md-right div{
    padding: 0px;
}
#navbar li div span {
    color: rgba(255,255,255,.5);
    display: inline-block;
    vertical-align: middle;
}
#navbar li div span div span:hover {
    color: rgba(255,255,255,.75);
    cursor: pointer;
}
#globo1:before, #globo2:before {
    content: "";
    width: 0;
    position: absolute;
    border-style: solid;
    border-width: 0 16px 12px 16px;
    border-color: #FFFFFF transparent #FFFFFF transparent;
    top: -10px;
    right: 7px;
}
#navbar div.dropdown-menu {
    border: none;
    width: 300px;
    cursor: default;
    padding: 20px 30px 40px 30px!important;
}
#navbar div.dropdown-menu p {
    text-align: center;
    font-size: .7em;
    margin-top: -15px;
}
#navbar div.dropdown-menu p:first-child {
    color: #00b1d2;
    font-size: 1em;
    font-weight: 600;
    margin-top: 0px;
}
#navbar div.dropdown-menu div div a {
    cursor: default;
}
.icon-bubbles3, .icon-envelop, .icon-mobile2, .icon-wrench, .icon-binoculars {
    color: #00b1d2 !important;
    font-size: 30px;
}
.icon-bubbles3 {
    font-size: 28px;
}
#navbar div.circle {
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto;
    color: #00b1d2;
    font-size: 14px;
    text-align: center;
}
#navbar div.circle:hover {
    background-color: #f4f4f4;
}
#navbar div.circle div {
    width: 29px;
    height: 35px;
    margin: 14px auto;
}
#navbar div.circle div.icon-envelop {
    margin: 12px auto;
}
#navbar button.navbar-toggler {
    color: #FFFFFF;
    outline: none;
    margin: 8px 0px 8px 0px;
    padding: 0;
}
.dropdown-toggle, .icon-question, .icon-cog {
    color: rgba(255,255,255,.5);
}
.dropdown-toggle:active, .dropdown-toggle:hover, .icon-question:active, .icon-question:hover, .icon-cog:active, .icon-cog:hover{
    color: rgba(255,255,255,.75);
}
#navbar .navbar-nav .nav-item {
    float: none;
}
#navbar .navbar-divider,
#navbar .navbar-nav .nav-item+.nav-item,
#navbar .navbar-nav .nav-link + .nav-link {
    margin-left: 0;
}
@media (min-width: 48em) {
    #navbar .navbar-brand {
        float: left;
    }
    #navbar .navbar-nav .nav-item {
        float: left;
    }
    #navbar .navbar-divider,
    #navbar .navbar-nav .nav-item+.nav-item,
    #navbar .navbar-nav .nav-link + .nav-link {
        margin-left: 1rem;
    }
}
#navbar div.icon-form div {
    margin-left: 9px;
    font-size: 13px;
    position: absolute;
    margin-top: 13px;
}
#navbar div.icon-form div.icon-sm {
    margin-top: 10px;
}
#navbar div.icon-form input {
    padding-left: 32px;
    float: left;
}

/********************************************
**accounts*/

#accounts p {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
#accounts p.corte {
    font-size: .7em;
    color: #3f454f;
}
#accounts .cards > div:nth-child(3) {
    background-color: #f1f1f1;
    padding-top: 5px;
    padding-bottom: 5px;
}
#accounts .list-group-item {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#accounts .list-group-item {
    border: none;
}
#accounts input[type="radio"] {
    display: none;
}
#accounts label {
    margin: 0px;
    font-size: .7em;
    color: #3f454f;
}
#accounts li.list-group-item label:first-child {
    float: left;
}
#accounts li.list-group-item label:last-child {
    margin-top: 5px;
    float: right;
}
#accounts .list-group-item input {
    padding: 0px 0px 0px 4px;
    font-size: 1em;
    width: 60px;
}
#accounts input[type="radio"] + label span {
    background-color: #f0f0f0;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 5px;
    cursor:pointer;
}
#accounts input[type="radio"]:checked + label span {
    background-color: #f7a131;
    border: 3px solid #e0e0e0;
}
#accounts .card-block {
    padding-top: 0px;
    padding-bottom: 0px;
}
#accounts .footbtn {
    margin-top: 20px;
    height: 40px;
}
#accounts a {
    font-size: .7em;
}
#accounts a.card-link:hover {
    color: #f9ae4c;
}
#accounts a.card-link {
    color: #008fb5;
}
#accounts .cont-img {
    max-width: 100%;
    height: 105px;
    overflow: hidden;
    position: relative;
    padding: 0px;
}
#accounts img {
    display: block;
    object-fit: cover;
    height: 150px;
    width: 100%;
}
#accounts .credit a {
    background-color: #f7a131;
}
#accounts .credit a:hover {
    background-color: #e9982f;
}
#accounts .credit p {
    line-height:18px;
}
#accounts .credit p:first-child {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1em;
}
#accounts .credit p:first-child + p {
    font-weight: 600;
    font-size: .8em;
}
#accounts .credit p:last-child {
    font-size: .75em;
    color: #3f454f;
    margin-bottom: 32px;
}
#accounts .credit .cont-img {
    min-height: 155px;
}
#accounts .circle-time {
    background: url("../app/assets/images/cards/cuenta_transfer_balance.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90px;
    width: 94px;
    margin: 6px auto 0px auto;
}

/********************************************
**publicitybar*/

div#accounts {
    padding-bottom: 20px;
}
#publibar .card-block {
    margin: 0;
    padding: 0;
}
#publibar a {
    position: absolute;
    margin-top: -40px;
    margin-left: 10px;
}
#publibar .btn-secondary {
    background-color: #1b1b1b;
}
#publibar .btn-secondary:hover {
    background-color: #000000;
}

/********************************************
**publicity*/

#publi .modal-footer {
    border: none;
}
#publi .modal-footer div {
    width: -moz-calc(100% - 95px);
    width: -webkit-calc(100% - 95px);
    width: -o-calc(100% - 95px);
    width: calc(100% - 95px);
    padding-top: 8px;
}
#publi p {
    text-align: justify;
    font-size: .8em;
}
#publi .modal-dialog {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 1);
    box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 1);
}
#publi .modal-content {
    border: none;
}
#publi .modal {
    background-color: rgba(255, 255, 255, .8) !important;
}
#publi div.logo-abanking {
    background: url("../app/assets/images/logos/abanking-white-logo.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 30px;
    width: 120px;
    margin: 0px 20px 0px 0px;
    float: left;
}
#publi div.modal-header {
    background-color: #00b1d2;
    border-bottom: 5px solid #3f454f;
}
#publi .modal-header div:last-child {
    height: 30px;
    width: auto;
    float: left;
    padding-top: 6px;
    color: #FFFFFF;
    font-size: 1em;
}
#publi button.close {
    color: #FFFFFF;
}
@media (max-width: 33.9em) {
    #publi div.logo-abanking {
        margin: 0px 5px 0px 0px;
    }
    #publi .modal-header div:last-child {
        padding-top: 8px;
        font-size: .85em;
    }
    #publi .modal-footer div {
        padding: 0px 10px 0px 0px;
    }
}
@media (max-width: 41em) and (min-width: 34em) {
    #publi .modal-dialog {
        width: 90%;
    }
}
@media (min-width: 41em) {
    #publi .modal-dialog {
        width: 600px;
    }
}
