/*
 * Color Palette
 * ========================================================================== */

 .dark-primary-color            { background: #0288D1; }
 .default-primary-color         { background: #03A9F4; }
 .default-primary-color:hover   { background: #07a0e7; }
 .light-primary-color           { background: #B3E5FC; }
 .text-primary-color            { color: #FFFFFF; }
 .accent-color                  { background: #009688; }
 .primary-text-color            { color: #212121; }
 .secondary-text-color          { color: #757575; }
 .tertiary-text-color           { color: #e64500; }
 .secondary-text-link           { color: #000000; }
 .divider-color                 { border-color: #BDBDBD; }
 .head                          { background: #f1f1f1; }
 .footer                        { background: #e3e3e3; }
 .btn-blue:hover                { background: #079fe4; }
 .btn-cancel                    { background: #607d8b; }
 .btn-cancel:hover              { background: #56717e; }
 .btn-confirm                   { background: #7cb342; }
 .btn-confirm:hover             { background: #75a83e; }
 .btn-sesion:hover              { background: #038b7e; }
 .btn-language:hover            { background: #da4809; }
 .btn-ads                       { background-color: #edb72b; }

/*
 * Fonts
 * ========================================================================== */

 @font-face {
   font-family: 'icomoon';
   src:  url('./fonts/icomoon.eot?6r3211');
   src:  url('./fonts/icomoon.eot?6r3211#iefix') format('embedded-opentype'),
     url('./fonts/icomoon.ttf?6r3211') format('truetype'),
     url('./fonts/icomoon.woff?6r3211') format('woff'),
     url('./fonts/icomoon.svg?6r3211#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
 }

 [class^="icon-"], [class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 .icon-notice:before {
   content: "\e909";
 }
 .icon-basket:before {
   content: "\e904";
 }
 .icon-alarm:before {
   content: "\e900";
 }
 .icon-loop:before {
   content: "\e905";
 }
 .icon-dollar:before {
   content: "\e906";
 }
 .icon-safe:before {
   content: "\e901";
 }
 .icon-globe:before {
   content: "\e902";
 }
 .icon-phone:before {
   content: "\f095";
 }
 .icon-switch:before {
   content: "\e908";
 }
 .icon-earth:before {
   content: "\e907";
 }
 .icon-headphones:before {
   content: "\e903";
 }
 .icon-comment-discussion:before {
   content: "\f04f";
 }
 .icon-credit-card:before {
   content: "\f045";
 }
 .icon-gear:before {
   content: "\f02f";
 }
 .icon-key:before {
   content: "\f049";
 }
 .icon-location:before {
   content: "\f060";
 }
 .icon-question:before {
   content: "\f02c";
 }
 .icon-triangle-down:before {
   content: "\f05b";
 }

/*
 * General
 * ========================================================================== */

html, body, #root, .div-cont{
    height: 100%;
    width: 100%;
    color: #212121;
}
.link, .link:hover, .link:active, .link:link, .link:visited{
    color: #757575;
    font-size: 10pt;
    text-decoration: none;
}
.link:hover{
    color: #000000;
}
div.divider{
    width: 100%;
    height: 1.5px;
    background-color: #BDBDBD;
}
.shadow{
    -webkit-box-shadow: 0px 2px 5px -1px rgba(46,46,46,1);
    -moz-box-shadow: 0px 2px 5px -1px rgba(46,46,46,1);
    box-shadow: 0px 2px 5px -1px rgba(46,46,46,1);
}
.shadow-second{
    -webkit-box-shadow: 0px 1px 4px 0px rgba(87,87,87,0.20);
    -moz-box-shadow: 0px 1px 4px 0px rgba(87,87,87,0.20);
    box-shadow: 0px 1px 4px 0px rgba(87,87,87,0.20);
}
.shadow-tertiary{
    -webkit-box-shadow: 0px 5px 6px -5px rgba(184,184,184,1);
    -moz-box-shadow: 0px 5px 6px -5px rgba(184,184,184,1);
    box-shadow: 0px 5px 6px -5px rgba(184,184,184,1);
}
.shadow-fourth{
    -webkit-box-shadow: 0px 1.1px 5.1px -1px rgba(77,77,77,1);
    -moz-box-shadow: 0px 1.1px 5.1px -1px rgba(77,77,77,1);
    box-shadow: 0px 1.1px 5.1px -1px rgba(77,77,77,1);
}
h4{
    font-size: 1.1em;
}

/*
 * Buttons
 * ========================================================================== */

.btn-blue, .btn-cancel, .btn-confirm, .btn-language, .btn-ads{
    -webkit-box-shadow: 0px 3px 4px -2px rgba(135,135,135,1);
    -moz-box-shadow: 0px 3px 4px -2px rgba(135,135,135,1);
    box-shadow: 0px 3px 4px -2px rgba(135,135,135,1);
}
.btn-blue{
    background-color: #03A9F4;
    color: #ffffff;
}
.btn-blue:hover, .btn-blue:active, .btn-blue:focus{
    background-color: #079fe4;
    color: #ffffff;
}
.btn-cancel{
    background-color: #607d8b;
    color: #ffffff;
}
.btn-cancel:hover, .btn-cancel:active, .btn-cancel:focus{
    background-color: #56717e;
    color: #ffffff;
}
.btn-confirm{
    background-color: #7cb342;
    color: #ffffff;
}
.btn-confirm:hover, .btn-confirm:active, .btn-confirm:focus{
    background-color: #75a83e;
    color: #ffffff;
}
.btn-sesion{
    background-color: #009688;
    color: #ffffff;
    font-size: 10pt;
    padding: 4px 10px;
}
.btn-sesion:hover, .btn-sesion:active, .btn-sesion:focus{
    background-color: #038b7e;
    color: #ffffff;
}
.btn-language{
    background-color: #e64500;
    color: #ffffff;
}
.btn-language:hover, .btn-language:active, .btn-language:focus{
    background-color: #da4809;
    color: #ffffff;
    outline: none;
}
.btn-ads{
    background-color: #edb72b;
    color: #ffffff;
}
.btn-ads:hover, .btn-ads:active, .btn-ads:focus{
    background-color: #e0ad28;
    color: #ffffff;
}
.btn-adsb{
    background-color: #000000;
    color: #ffffff;
}
.btn-adsb:hover, .btn-adsb:active, .btn-adsb:focus{
    background-color: #212121;
    color: #ffffff;
}

/*
 * LayoutLogin
 * ========================================================================== */
.color{
    background-color: rgb(235, 139, 104);
}
#container-login{
    padding-top: 70px;
    padding-bottom: 90px;
    margin: 0px auto -65px;
    min-height: 100%;
}
.line-head{
    width: 100%;
    height: 40px;
    background-color: #0288D1;
    position: absolute;
    z-index: 1;
}
.line-head .dropdown{
    width: 100%;
    height: 30px;
    margin: 5px 0px;
}
.line-head .dropdown button.btn-sesion{
    width: 100%;
    height: 30px;
    background-color: transparent;
    color: #ffffff;
    text-align: right;
    border: 0;
}
.line-head .dropdown button.btn-sesion:active,
.line-head .dropdown button.btn-sesion:focus{
    background-color: transparent;
    outline: none;
    color: #ffffff;
}
.line-head .dropdown-menu{
    width: 100%;
    margin-top: 0px;
}
.line-second{
    width: 100%;
    height: 250px;
    background-color: #03A9F4;
    position: fixed;
    z-index: -1;
}
#container-login .card{
    margin: 0px 40px;
}
@media (max-width: 543px) {
    #container-login .card{
        margin: 0px;
    }
}

/*
 * LayoutHome
 * ========================================================================== */

#container-home{
    padding-bottom: 90px;
    margin: 0px auto -65px;
    min-height: -moz-calc(100% - 91.6px);
    min-height: -webkit-calc(100% - 91.6px);
    min-height: -o-calc(100% - 91.6px);
    min-height: calc(100% - 91.6px);
}
@media (max-width: 48em) {
    #container-home{
        min-height: -moz-calc(100% - 101.6px);
        min-height: -webkit-calc(100% - 101.6px);
        min-height: -o-calc(100% - 101.6px);
        min-height: calc(100% - 101.6px);
    }
}

/*
 * Footer
 * ========================================================================== */

.footer{
    width: 100%;
    height: 65px;
    background-color: #e3e3e3;
}
.footer p, .footer a{
    margin: 0;
    padding: 20px 0px;
    color: #757575;
    font-size: 10pt;
    text-decoration: none;
}
.footer-left{
    padding-left: 25px;
    text-align: left;
}
.footer-right{
    text-align: right;
    padding-right: 20px;
}
.footer-right a{
    padding: 0px 5px;
}
@media (max-width: 543px) {
    .footer-right, .footer-left{
        text-align: center;
    }
    .footer p, .footer a{
        padding: 5px 5px;
    }
}

/*
 * Prelogin
 * ========================================================================== */

.logo-login{
    background: url("./images/logos/logo.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 47.5px;
    width: 210.9px;
    margin: 20px auto 30px auto;
}
#prelogin input, #prelogin a.btn-blue{
    margin: 10px 0px;
}
#prelogin .divider{
    margin: 20px 0px;
}

/*
 * Login
 * ========================================================================== */

#login small span{
    color: #e64500;
}
#login .orange:hover{
    border: 2px solid #e64500;
    cursor: pointer;
}
#login input, #login a.btn-blue, #login a.btn-cancel{
    margin: 10px 0px;
}
#login .container-fluid{
    padding: 0px 0px 10px 0px;
}
#login h4 small{
    color: #757575;
    font-size: .8em;
}
.img1_opt, .img2_opt, .img3_opt, .img4_opt, .img5_opt, .img6_opt, .img7_opt, .img8_opt, .img9_opt, .img10_opt{
    background: url("./images/sprites.png") no-repeat;
    margin: 5px 5px 0px 5px;
    border-radius: 4px;
    display: inline-block;
    width: 60px;
    height: 60px;
}
.img1_opt{ background-position: 0 0; }
.img2_opt{ background-position: -61px 0; }
.img3_opt{ background-position: -122px 0; }
.img4_opt{ background-position: -183px 0; }
.img5_opt{ background-position: -244px 0; }
.img6_opt{ background-position: -306px 0; }
.img7_opt{ background-position: -367px 0; }
.img8_opt{ background-position: -428px 0; }
.img9_opt{ background-position: -490px 0; }
.img10_opt{ background-position: -551px 0; }

/*
 * Unblock
 * ========================================================================== */

#unblock small strong{
    color: #e64500;
}
#unblock input, #unblock a.btn-blue, #unblock a.btn-cancel{
    margin: 10px 0px;
}

/*
 * Changepass
 * ========================================================================== */

#changepass small strong{
    color: #e64500;
}
#changepass .orange:hover{
    border: 2px solid #e64500;
    cursor: pointer;
}
#changepass input, #changepass a.btn-blue, #changepass a.btn-cancel, #changepass a.btn-confirm{
    margin: 10px 0px;
}
#changepass .container-fluid{
    padding: 0px 0px 20px 0px;
}

/*
 * Navbar
 * ========================================================================== */

#navbar{
    height: 52px;
    background-color: #03A9F4;
    color: #ffffff;
}
#navbar .logo-abanking{
    background: url("./images/logos/logo_abanking.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 30px;
    width: 30px;
    margin: 5px 15px 0px 0px;
}
#men .dropdown{
    float: right;
}
#men .dropdown button{
    font-size: 20px;
    height: 25px;
    padding: 0px 10px;
    color: #ffffff;
    background-color: transparent;
    outline: none;
}
#men .dropdown button:hover{
    font-size: 21px;
    padding: 0px 9.5px;
    color: #ffffff;
}
#navbar li{
    margin: 0;
}
#navbar .btn-navbar, .nav-menu .dropdown button{
    height: 52px;
    border-radius: 0;
    margin-top: -8px;
    padding: 16px 12px;
    color: #ffffff;
    background-color: #03A9F4;
    outline: none;
}
#navbar .btn-navbar:hover, .nav-menu .dropdown button:focus, .nav-menu .dropdown button:hover{
    background-color: #07a0e7;
    outline: none;
}
.nav-menu div.dropdown-menu{
    background-color: #03A9F4;
    color: #ffffff;
    border-radius: 0;
    margin-top: 3px;
    padding-bottom: 1;
    border: none;
    position: absolute;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.nav-menu .pay{
    width: 229px;
}
.nav-menu .trans{
    width: 264px;
}
.nav-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu ul li, .nav-menu li a{
    height: 52px;
    text-align: left;
    width: 100%;
    font-size: .98em;
}
#navbar > div > button{
    color: #ffffff;
    font-size: 20px;
    background-color: transparent;
    outline: none;
    border: none;
}
#navbar > div > button:nth-child(4), #navbar > div > button:nth-child(3){
    padding-right: 10px;
}
#navbar > div > button:nth-child(4):hover, #navbar > div > button:nth-child(3):hover{
    font-size: 21px;
    padding-right: 9px;
}
#navbar > div > button:nth-child(2){
    -webkit-transition: -webkit-transform .5s; /* Safari */
    transition: transform .5s;
}
#navbar > div > button:nth-child(2):hover{
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}
#collapsemenu, #collapseconf, #collapsecont{
    background-color: #03A9F4;
    position: absolute;
    left: 0;
    width: 100%;
}
#collapseconf li button{
    width: 100%;
    text-align: left;
    color: #ffffff;
    background-color: #03A9F4;
}
#collapseconf li button small{
    display: none;
}
#collapseconf li button span{
    margin-right: 5px;
}
#collapseconf li button:hover, #collapseconf li button:focus{
    outline: none;
    background-color: #07a0e7;
}
#navbar .navbar-nav .nav-item {
    float: none;
}
@media (min-width: 48em) {
    #navbar .navbar-nav .nav-item {
        float: left;
    }
}
#navbar .btn-navbar-vertical{
    text-align: left;
    color: #ffffff;
    margin-left: 0;
    width: 100%;
}
#navbar .btn-navbar-vertical:hover{
    background-color: #07a0e7;
}
@media (min-width: 38em) {
    #navbar .btn-navbar-vertical, #collapseconf li button{
        padding-left: 4px;
    }
}
#navbar ul.nav-second .btn-navbar-vertical{
    padding-left: 40px;
}
#collapsemenu .divider{
    height: 52px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #ffffff;
}
#collapsemenu .divider .btn-navbar-sesion{
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    height: 100%;
    text-align: left;
    color: #000000;
    padding-top: 15px;
}
#collapsemenu .divider .btn-navbar-sesion:hover{
    background-color: #07a0e7;
    color: #ffffff;
}
#status-sesion{
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
}
#status-sesion p{
    font-size: 10pt;
    color: #757575;
    padding: 0;
    margin: 10px 0px 0px 0px;
}
#status-sesion div.col-xs-12:nth-child(2) p{
    margin-right: 10px;
    float: right;
}
#status-sesion .btn-sesion{
    float: right;
    margin-top: 7px;
}
@media (max-width: 48em) {
    #status-sesion{
        height: 50px;
    }
    #status-sesion div.col-xs-12:nth-child(2) p{
        float: none;
    }
    #status-sesion p{
        margin: 4px 0px 0px 0px;
        text-align: center;
    }
    #status-sesion .btn-sesion{
        display: none;
    }
}
#men .globo-men:before {
    content: "";
    width: 0;
    position: absolute;
    border-style: solid;
    border-width: 0 16px 12px 16px;
    border-color: #FFFFFF transparent #FFFFFF transparent;
    top: -10px;
    right: 4.5px;
}
#men .globo-men{
    margin: 10px 0px;
    font-size: .7em;
    color: #212121;
    border: 0;
    width: 290px;
    text-align: center;
    padding: 6px 0px;
}
#men div.globo-men h6{
    color: #0288D1;
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: 10px;
}
#men .globo-cont{
    width: 100%;
    margin-top: 5px;
}
#men .largo .globo-cont{
    height: 55px;
}
#men .corto .globo-cont{
    height: 40px;
}
#men .globo-cont div:nth-child(1){
    height: 100%;
    width: 40px;
    float: left;
    color: #0288D1;
    font-size: 2.5em;
}
#men .largo .globo-cont div:nth-child(1){
    padding-top: 8px;
}
#men .corto .globo-cont div:nth-child(1){
    padding-top: 2px;
}
#men .globo-cont div:nth-child(2){
    font-size: 1.17em;
    height: 100%;
    width: 210px;
    float: right;
    text-align: left;
}
#men .largo div:nth-child(3) a p{
    padding-top: 11px;
}
#men .largo div:nth-child(4) a p{
    padding-top: 3px;
}
#men .largo div:nth-child(5) a p{
    padding-top: 5px;
}
#men .largo div:nth-child(7) a p{
    padding-top: 12px;
}
#men .largo div:nth-child(7) button{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1.17em;
    text-align: left;
    color: #212121;
}
#men .largo div:nth-child(7) button small{
    font-size: 75%;
}
@media (min-width: 768px) {
    #men .largo div:nth-child(7) button span{
        display: none;
    }
}
#men .corto div:nth-child(3) a p{
    padding-top: 5px;
}
#men .corto div:nth-child(4) a p{
    padding-top: 12px;
}
#men .corto div:nth-child(6) a p{
    padding-top: 12px;
}
#men .globo-cont a{
    color: #000000;
    line-height: 1;
    text-decoration: none;
}
#men .globo-cont a small{
    color: #212121;
}
#men .largo div:nth-child(6){
    margin: 10px 0px;
}
#men .corto div:nth-child(5){
    margin: 10px 0px;
}
#men .globo-cont:hover{
    border-radius: 4px;
    background-color: #f1f1f1;
}
#men .corto .globo-cont:nth-child(3):hover{
    background-color: #ffffff;
}

/*
 * Modal for language
 * ========================================================================== */

.txt-modal{
    font-size: .9em;
    padding: 5px 0px 15px;
    color: #212121;
}
.txt-modal + div{
    padding-bottom: 20px;
}

/*
 * Slide
 * ========================================================================== */

#slide{
    margin: 20px auto;
    width: 80%;
}
@media (min-width: 544px) {
    #slide{
        width: 95%;
    }
}
@media (min-width: 768px) {
    #slide{
        width: 100%;
    }
}
#slide div.card-slide{
    padding: 5px;
}
#slide .slick-prev, #slide .slick-next{
    height: 100%;
    width: 25px;
    z-index: 1;
}
#slide .slick-prev{
    left: 25;
}
#slide .slick-next{
    right: 25;
}
#slide .slick-prev:before{
    color: #009688;
}
#slide .slick-next:before{
    color: #009688;
}

/*
 * Cards Accounts
 * ========================================================================== */

 #slide .card{
     border: 0;
     height: 350px;
     padding: 0;
     margin: 0;
 }
 #slide .cont-img {
    max-width: 100%;
    height: 105px;
    overflow: hidden;
    position: relative;
    padding: 0px;
}
#slide img {
    display: block;
    object-fit: cover;
    height: 150px;
    width: 100%;
}

/*
 * Cards Account - card
 * ========================================================================== */

.checks-card div.card-block, .checks-card div.card-block p,
.credit-card div.card-block, .credit-card div.card-block p{
    padding: 0;
    margin: 0;
}
.checks-card div.card-block:nth-child(1),
.credit-card div.card-block:nth-child(1){
    padding-top: 5px;
    height: 35px;
}
.checks-card strong, .credit-card strong{
    letter-spacing: .5pt;
}
.checks-card .text-muted, .credit-card .text-muted{
    margin-left: 10px;
    letter-spacing: .5pt;
}
.checks-card div.card-block:nth-child(3),
.credit-card div.card-block:nth-child(3){
    height: 30px;
    padding-top: 6px;
    text-align: center;
    background-color: #f1f1f1;
    font-size: .7em;
}
.checks-card div.card-block:nth-child(4),
.credit-card div.card-block:nth-child(4){
    height: 120px;
    margin: 0;
    padding: 5px 0px;
}
.checks-card table, .credit-card table{
    width: 100%;
    min-height: 100px;
    font-size: .82em;
}
.checks-card table tr td:nth-child(2), .credit-card table tr td:nth-child(2),
.checks-card table tr th:nth-child(2), .credit-card table tr th:nth-child(2){
    text-align: right;
}
.credit-card table tr td:nth-child(2) input{
    margin: 0;
    padding: 0px 0px 0px 2px;
    width: 70px;
    float: right;
    font-size: 1em;
}
.credit-card table tr td div.form-check,
.credit-card table tr th div.form-check,
.credit-card table tr td div.form-check label,
.credit-card table tr th div.form-check label{
    margin: 0;
    padding: 0;
}
.credit-card input[type="radio"]{
    display: none;
}
.credit-card label {
    margin: 0;
}
.credit-card input[type="radio"] + span {
    background-color: #e3e3e3;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 5px;
    cursor:pointer;
    margin-top: -4px;
}
.credit-card input[type="radio"]:checked + span {
    background-color: #edb72b;
    border: 3px solid #e3e3e3;
}
.checks-card div.card-block:nth-child(5),
.credit-card div.card-block:nth-child(5){
    height: 60px;
    padding-top: 10px;
    border-top: 1.5px solid #e3e3e3;
}
.credit-card div.card-block:nth-child(5) .btn-blue,
.debit-card div.card-block:nth-child(3) .btn-ads{
    font-size: .75em;
    padding: 5px 0px;
}
.checks-card div.card-block:nth-child(5) a.link,
.credit-card div.card-block:nth-child(5) a.link{
    color: #03A9F4;
}
.checks-card div.card-block:nth-child(5) a.link:hover,
.credit-card div.card-block:nth-child(5) a.link:hover{
    color: #0288D1;
}
.debit-card div.cont-img{
    min-height: 170px;
}
.debit-card img{
    min-height: 170px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.debit-card div.card-block:nth-child(2){
    text-align: center;
    height: 120px;
    font-size: 1em;
}
.debit-card div.card-block:nth-child(2) span{
    font-size: .9em;
    font-weight: 600;
    color: #212121;
}
.debit-card div.card-block:nth-child(2) small{
    font-size: .75em;
    color: #212121;
}
.debit-card div.card-block:nth-child(3){
    padding-top: 10px;
    height: 60px;
    border-top: 1.5px solid #e3e3e3;
}

/*
 * Balance
 * ========================================================================== */

#balance{
    margin-top: 10px;
}
#balance > button{
    background-color: transparent;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-top: -2px;
    outline: none;
    -webkit-transition: -webkit-transform .5s; /* Safari */
    transition: transform .5s;
}
#balance > button:focus{
    -webkit-transform: rotate(-450deg); /* Safari */
    transform: rotate(-450deg);
}
#balance > p{
    display: inline-block;
    font-size: 1em;
    margin-left: 5px;
    color: #212121;
}
#balance div#minutes{
    margin-top: -13px;
    border-top: 2px dotted #BDBDBD;
}
#balance .card{
    border: 0;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #f1f1f1;
    margin-top: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#balance button > span{
    color: #009688;
}
#min-balance p{
    margin: 0;
    line-height: 1.1;
}
#min-balance p:nth-child(2){
    font-size: 1.5em;
    margin-bottom: 10px;
}
#min-balance p:nth-child(2) span{
    font-size: .7em;
}
#min-balance small{
    color: #757575;
}
#min-time p:nth-child(1){
    margin: 0;
}
#min-time p.new-p{
    display: inline-block;
    margin-bottom:10px;
}
#min-time a.new-link{
    display: inline-block;
    float: right;
    color: #07a0e7;
    text-decoration: none;
}
#min-time a.new-link:hover{
    color: #0288D1;
}
#min-time p.label{
    font-weight: 600;
    font-size: .75em;
    margin-left: 2px;
    margin-bottom: 2px;
}
#min-time .form-control{
    margin-bottom: 8px;
}
#min-time .btn{
    margin-top: 19px;
}
#minutes div.divider-balance{
    border-left: 2px solid #757575;
}
@media (max-width: 767px) {
    #minutes div.divider-balance{
        border-left: 0;
        border-top: 2px solid #757575;
        padding-top: 20px;
        margin-top: 20px;
    }
}
@media (max-width: 543px) {
    #min-time .btn{
        margin-bottom: 20px;
    }
}

/*
 * Ads
 * ========================================================================== */
#publicity{
    margin-top: 40px;
}
@media (min-width: 544px) and (max-width: 991px){
    #publicity div:nth-child(3){
        display: none;
    }
}
#publicity .card-block {
    margin: 0;
    padding: 0;
}
#publicity img{
    border-radius: 4px;
}
#publicity button {
    position: absolute;
    margin-top: -40px;
    margin-left: 10px;
}
#publicity .btn-adsb {
    background-color: #1b1b1b;
}
#publicity .btn-adsb:hover, #publicity .btn-adsb:focus {
    outline: none;
    background-color: #000000;
}
